/* =============================================================================
   /schedule related styles
   ========================================================================== */


	.topic{
    width: 100%;
		padding: 20px;
		display: inline-block;
		
		&:nth-child(even){
			background: rgba($silver, 0.4);
		}
		
		.slides-enabled {
			text-align: left;
		}
	}
