


.b-nav-item{
  display: flex;
  flex-direction: column;
  &__fa{
    flex: 1;
  }
  &__text{
    flex: 1;
  }
}

.b-nav-screen{
  margin: auto;
}

.b-nav{
  &__list{
    list-style: none;
    padding: 1px;
    display: flex;
    flex-direction: row;
  }

  &__list-item{
    display: inline-block;
    flex: 1;
    white-space: nowrap;
    padding: 10px;
    position: relative;

    border-bottom: solid 1px $emerald;
  }

  &__link{
    text-align: center;
  }



}



$navi_visible: $navi_screen;

.b-nav-screen {
  display: flex;
  text-align: center;
  padding: 0 20px;
  align-items: baseline;
  font-size: 12px;
}

@media screen and (min-width: $navi_screen){
  .b-nav-mobile{
    display: none;

  }
  .b-nav-screen{
    display: flex;
  }
}

@media screen and (max-width: $navi_mobile){
  .b-nav-screen{
    display: none;
  }
  .b-nav-mobile{
    display: none;
  }
  .b-nav{
    &__mobile-menu-trigger{
      //display: none;

      &:not(checked) + .b-nav-mobile {
        display: none;
      }

      &:checked + .b-nav-mobile {
        display: block;
      }


      //position: absolute;
      //clip: rect(0, 0, 0, 0);
      label[for="nav-trigger"] {
        cursor: pointer;
      }

      &:checked + label {
        left: 215px;
      }

      .nav-trigger:checked + ul {
        display: flex;
      }
    }
  }
}
