.b-day {
  &__name{
    font-size: 2.25rem;
    font-weight: bold;
  }
  &__date{
    font-size: 1rem;
  }
  &__schedule{

  }
}
.b-time-slot {
  &__time {
  }
  &__title {
  }
  &_keynote {
  }
  &_background {
  }
}
.b-talk {
  &__speaker {
  }
  &__title {
  }
}