.b-day {
  border-top: 3px solid $session-border;
  text-align: center;
  &__name{
    font-size: 2.25rem;
    font-weight: bold;
  }
  &__date{
    font-size: 1rem;
  }
  &__schedule{

  }
}
.b-time-slot {
  margin: 0 1em;
  border: 1px solid $session-border;
  padding: 1em 0.5em;
  display: flex;
  flex-wrap: wrap;
  background-color: $session-background;
  &__time {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  &__type {
    font-size: 1.2rem;
    color: red;
    flex:1;
    text-align: right;
    align-self: flex-end;
  }
  &__title {
    font-size: 1.6rem;
    min-width: 100%;
    -webkit-flex: 1 1 90%;
  }
  &_keynote {

  }
  &_background {
    border:none;
    background-color: inherit;
  }
  &_multiple{
    .b-talk{
      // this is not the BEM way to do this, but...
    border: 1px dashed grey;
    margin: 1em 0 0;
  }
  }
}
.b-talk {
  font-size: 2rem;
  min-width: 100%;
  -webkit-flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  &:hover{
    text-decoration: none;
  }

  &__speaker {
    font-size: 0.6em;
    color: $session_speaker;


  }
  &__category {
    font-size: 0.6em;
    color: $session_category;

  }
  &__title {
  }
}
