footer {
    padding: 2em;
    background: rgba(255,255,255,0.7);
    margin-bottom: 20px;
	border-width: 0 0 3px;
	border-top: 6px solid $cyprus;
    width: 100%;
    float: left;
}


ul.sponsors {
	list-style: none;
	margin-top: 30px;

	li { 
		display: inline-block; 
	
        padding: 0 10px;        
	    a {
	   		display: inline-block;
        }
		img {
			border: 8px solid #f5f5f5;
		}
		
	}
}