.feedback-container {
    padding:40px;
    border:1px solid #e6e6e6;
    overflow:hidden;
    height: 400px;
  }
  .marquee{
    display:block;
    position:relative;
    animation:marquee 30s linear infinite;
    padding:3px;
  }
  
  .marquee:hover {
      animation-play-state: paused
  }
  
  .img1 {
    background-color:#f6f6f6;
    margin:3px;
    float:left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Make it move */
  @keyframes scroll{
  0% {left:800px;}
  100% {left:-800px;}
  }

  /* Make it move! */
@keyframes marquee {
  0%   { top:   8em }
  100% { top: -50em }
}

@media screen and (max-width: $navi_mobile){
  .feedback-container {
    padding:20px;
  }

  @keyframes marquee {
    0%   { top:   8em }
    100% { top: -110em }
  }
}