.b-footer {
  background: rgba(255,255,255,0.7);
  border-width: 0 0 3px;
  border-top: 6px solid $cyprus;
  width: 100%;
}

.b-footer__contact{
  text-align: center;
}

.b-footer__sponsors{
  margin: auto;
}


.b-sponsors {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-sponsor{
  text-align: center;
  
  &__link{
    display: inline-block;
    width: 100%;
  }

  &__img{
    padding: 10px;
    border: 8px solid #f5f5f5;
  }
}


.b-sponsor-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__sponsor{
    flex: 1;
  }

  &__item{
    display: inline-block;

    padding: 0 10px;
  }
}
