.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.b-img{
  &_main {
    background-image: url(/images/2019/speed_meet.jpg);
  }

  &_collaborate {
    background-image: url(/images/2019/collaborate.jpg);
  }

  &_collaborative-talk{
    background-image: url(/images/2019/collaborative-talk.jpg);
  }

  &_people-watching{
    background-image: url(/images/2019/people-watching_mob.jpg);
  }

}

.b-img{
  //display: flex;

  &_bw{
    filter: url(/images/desaturage.svg#greyscale);
    filter: grayscale(100%);
    color: $text-on-bw-image;

    &::before{
      content: "";
      display: block;
      pointer-events: none;
      background: rgba(0,0,0,0.25);
    }
  }

  &_in-brief{
    position: relative;
    padding: 10em 0;
    height: 100%;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.65);
    }
  }

  &_people-watching{

    &:before{
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.65);
    }
  }


  &_full-sized{
    background-repeat: no-repeat;
    background-size: cover;

    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
  }

  &__text-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_parallax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media screen and (max-width: $navi_mobile){
  .b-img{

    &__main{
      height: 80vh;
      width: 100vw;
      background-image: url(/images/2019/speed_meet_mob.jpg);
    }

    &_mobile-bw-wrapper{
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.35);
    }

    &_parallax{
      /* Create the parallax scrolling effect */
      background-attachment: inherit;
      //background-position: center;
      //background-repeat: no-repeat;
      //background-size: cover;
    }
  }
}

