---
day_no: 4
---
<article class="b-day">
  <p><span class="b-day__name">Thursday</span><span class="b-day__date"> Feb 19<sup>th</sup></span></p>
  <section class="b-day__schedule">
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">8:30-9:00</time>
      <div class="b-time-slot__title">Morning coffee &amp; Registration</div>
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">9:00-9:15</time>
      <div class="b-time-slot__title">Opening</div>
    </div>
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">9:15-10:00</time>
      <div class="b-time-slot__type">Keynote</div>
      <a href="/2018/topics/#gojko-adzic" class="b-talk">
        <span class="b-talk__speaker"> Gojko Adzic</span>
        <span class="b-talk__title"> Painless Visual Testing</span>
      </a>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">10:00-10:20</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Coffee Break</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Coffee Break</div>
    </div>
    <div class="row talk">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">10:20-10:50</time><br /> Talks</div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="lynoure-braakman" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session middle">
        {% include 2018/pages/schedule-session.md  session="lisi-hocke" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="desmond-delissen" %}
      </div>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">10:50-11:00</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Break</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Break</div>
    </div>
    <div class="row keynote">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">11:00-11:45</time><br /> Workshops</div>
      <div class="col-md-10 keynote">
        {% include 2018/pages/schedule-session.md  session="speed-meet" %}
      </div>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">11:45-12:45</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Lunch</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Lunch</div>
    </div>
    <div class="row talk" style="border-bottom:none">
      <div class="col-xs-1 col-sm-1 start-time"><time class="start">12:45-14:15</time><br /> Workshops</div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="damian-synadinos" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session middle">
        {% include 2018/pages/schedule-session.md  session="emily-bache" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="chris-neuroth" %}
      </div>
    </div>
    <div class="row talk" style="border-top:none">
      <div class="col-xs-1 col-sm-1 start-time"> &nbsp; </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="abby-bangser-bhagya-perera" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session middle">
        {% include 2018/pages/schedule-session.md  session="angie-jones" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="sami-soderblom" %}
      </div>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">14:15-14:45</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Coffee Break</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Coffee Break</div>
    </div>
    <div class="row talk">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">14:45-15:15</time><br /> Talks</div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="joel-hynoski" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session middle">
        {% include 2018/pages/schedule-session.md  session="joep-schuurkes" %}
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12 session">
        {% include 2018/pages/schedule-session.md  session="felienne-hermans" %}
      </div>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">15:15-15:30</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Break</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Break</div>
    </div>
    <div class="row keynote">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">15:30-16:15</time><br /> Workshops </div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Keynote</div>
      <div class="col-md-10 keynote">
        {% include 2018/pages/schedule-session.md  session="lean-coffee" %}
      </div>
    </div>
    <div class="row break">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">16:15-16:30</time></div>
      <div class="visible-xs-block col-xs-8 visible-sm-block col-sm-10 description">Break</div>
      <div class="hidden-xs hidden-sm col-md-10 description">Break</div>
    </div>
    <div class="row keynote">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">16:30-17:15</time> <br /> Keynote
      </div>
      <div class="col-md-10 keynote">
        <h3>
          <a href="/2018/topics/#nicola-sedgwick">
            <span class="hidden-xs hidden-sm"> Lanette Creamer - Test Like a Cat</span>
          </a>
        </h3>
      </div>
    </div>
    <div class="row meta">
      <div class="col-xs-2 col-sm-1 start-time"><time class="start">17:15-17:30</time></div>
      <div class="col-xs-10 description">1st Day Retrospective</div>
    </div>
  </section>
</article>
