---
---
<article class="b-day">
  <p><span class="b-day__name">Friday</span><span class="b-day__date"> feb 20<sup>th</sup></span></p>
  <section class="b-day__schedule">
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">9:00-9:45</time>
      <div class="b-time-slot__type">keynote</div>
      {% include 2018/pages/schedule-session.md  session="zeger-van-hese" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">9:45-10:05</time>
      <div class="b-time-slot__title">coffee break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">10:05-11:35</time>
      <div class="b-time-slot__type">workshops</div>
      {% include 2018/pages/schedule-session.md  session="abby-bangser" %}
      {% include 2018/pages/schedule-session.md  session="seb-rose" %}
      {% include 2018/pages/schedule-session.md  session="amber-race" %}
      {% include 2018/pages/schedule-session.md  session="vernon-richards" %}
      {% include 2018/pages/schedule-session.md  session="alina-ionescu" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">11:35-12:35</time>
      <div class="b-time-slot__title">lunch</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">12:35-13:15</time>
      <div class="b-time-slot__type"> demo talks</div>
      {% include 2018/pages/schedule-session.md  session="alexandra-schladebeck" %}
      {% include 2018/pages/schedule-session.md  session="matthew-butt" %}
      {% include 2018/pages/schedule-session.md  session="dan-gilkerson" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">13:15-13:25</time>
      <div class="b-time-slot__title">break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">13:25-13:55</time>
      <div class="b-time-slot__type">talks</div>
      {% include 2018/pages/schedule-session.md  session="pooja-shah" %}
      {% include 2018/pages/schedule-session.md  session="ron-werner" %}
      {% include 2018/pages/schedule-session.md  session="mirjana-kolarov" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">13:55-14:15</time>
      <div class="b-time-slot__title">coffee break</div>
    </div>
    <div class="b-time-slot">
      <time class="b-time-slot__time">14:15-16:15</time>
      <div class="b-time-slot__type">open space</div>
      {% include 2018/pages/schedule-session.md  session="open-space" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">16:15-16:30</time>
      <div class="b-time-slot__title">break</div>
    </div>
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">16:30-17:15</time>
      <div class="b-time-slot__type">keynote</div>
      {% include 2018/pages/schedule-session.md  session="jessica-kerr" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">17:15-17:30</time>
      <div class="b-time-slot__title">conference retrospective</div>
    </div>
  </section>
</article>
