<section id="cites">
  <ul>
    <li class="active">
      <blockquote>
        <p>Turku Agile Day 2011 is one of the nicest agile conferences <br>I have experienced. Its small and cosy. Its authentic!</p>
      </blockquote>
      <p class="behind"><span class="name">Mike Sutton</span><br> on twitter after #tad011</p>
    </li>
    <li class="next">
      <blockquote>
        <p>Clearly I have to save room in my schedule for <br>Turku Agile Day 2012, #tad011 sounded SO AWESOME</p>
      </blockquote>
      <p class="behind"><span class="name">Lisa Crispin</span><br> on twitter after #tad011</p>
    </li>
    <li>
      <blockquote>
        <p>#lessonsFromTurku <br>NEVER go out drinking with Finnish students. Ever.</p>
      </blockquote>
      <p class="behind"><span class="name">Mike Sutton</span><br> on twitter after #tad011</p>
    </li>
  </ul>
</section>