<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}European Testing Conference 2016</title>

	<meta name="author" content="Turku Agile Group">  
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}Turku Agile Day 2012" />
  <meta property="og:site_name" content="Turku Agile Day 2012" />
  <meta property="og:image" content="http://www.turkuagileday.fi/apple-touch-icon-precomposed.png" />
  
    <meta name="description" content=""/>
	<meta name="viewport" content="width=device-width,maximum-scale=1">
  
	<link rel="stylesheet" href="/styles/navigation.css">

    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<body class="{{ page.classes }}">
	<div id="container">
