<nav id="branding" class="col-xs-12" >
  <div class="logo col-md-3">
    <a href="{{ site.baseurl }}/" id="logo"><img src="{{ site.baseurl }}/images/etc.png" alt="European Testing Conference -logo"></a>
  </div>
	<div id="navigation" class="site-nav col-md-9">
	  <div class="inner clearfix">
	    <div class="mini-logo">
				<a href="{{ site.baseurl }}/" id="logo-mini" ><img src="{{ site.baseurl }}/images/etc_mini.png" alt="European Testing Conference -logo"></a>
			</div>
	    {% include navigation/elements.html %}
	  </div>
	</div>
</nav>


