<nav id="branding" class="navbar navbar-default">
  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="mini-logo-xs visible-xs-inline push-left">
        <a href="{{ site.baseurl }}/" id="logo-mini" ><img src="{{ site.baseurl }}/images/logo/etc-mini_50px.png" alt="European Testing Conference -logo"></a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#etc-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
	
    <div class="logo col-md-3 col-md-offset-1 navbar-brand hidden-xs">
      <a href="{{ site.baseurl }}/" id="logo"><img src="{{ site.baseurl }}/images/logo/etc-logo_130px.png" alt="European Testing Conference logo"></a>
    </div>

    <div class="collapse navbar-collapse" id="etc-navbar-collapse-1">
  	  <div class="col-md-8">
  		<div class="site-nav">
          <ul class="nav navbar-nav">
{% include navigation/elements.html %}
          </ul>
	    </div>
		<div class="clearfix"></div>
		<div class="buy-ticket">
			<a class="button" target="_blank" href="https://holvi.com/shop/EuroTestingConf/product/307fb905d2067da1cf9c6a68c2e31e33/">Buy Tickets</a>
		</div>
	  </div>	  
    </div><!-- /.navbar-collapse -->
	<div id="navigation" class="row visible-md-block visible-lg-block hidden fixed">
  	  <div class="inner clearfix">
  	    <div class="mini-logo">
          <a href="{{ site.baseurl }}/" id="logo-mini" ><img src="{{ site.baseurl }}/images/logo/etc-mini_50px.png" alt="European Testing Conference -logo"></a>
  	    </div>
  	  <ul class="push-right">
		{% include navigation/elements.html %}
		<li>
			<a class="button buy-ticket " target="_blank" href="https://holvi.com/shop/EuroTestingConf/product/307fb905d2067da1cf9c6a68c2e31e33/">Buy Tickets</a>
		</li>
      </ul>
  	</div>

  </div><!-- /.container-fluid -->
	


</nav>


