<nav id="branding" class="row">
  <div class="logo">
    <a href="{{ site.baseurl }}/" id="logo"><img src="{{ site.baseurl }}/images/logo/etc-logo_130px.png" alt="European Testing Conference -logo"></a>
  </div>
	<div id="navigation" class="site-nav">
	  <div class="inner clearfix">
	    <div class="mini-logo">
				<a href="{{ site.baseurl }}/" id="logo-mini" ><img src="{{ site.baseurl }}/images/logo/etc-mini_50px.png" alt="European Testing Conference -logo"></a>
			</div>
	    {% include navigation/elements.html %}
	  </div>
	</div>
</nav>


