<header id="european-testing-conference-2018"
        class="hero-unit header-title-on-bw"
>
<div class="bcg sub-page "
     data-center="background-position: 50% 0px;"
     data-top-bottom="background-position: 50% -100px;"
     data-anchor-target="european-testing-conference-2018"
>
    <div class="hsContainer ">
        <div class="hsContent"
             data-start="opacity: 1"
             data-40-top="opacity: 0"
             data-anchor-target="#european-testing-conference-2018 h1"
        >
            <h1>European Testing Conference 2018</h1>
            <h2>Amsterdam Arena, Amsterdam, Netherlands 19-20 February 2018</h2>
        </div>
    </div>
</div>
</header>
