---
---
<div class="bg-schedule">
  <article class="b-day">
    <p><span class="b-day__name">Friday</span>
      <span class="b-day__date"> Feb 7<sup>th</sup></span>
    </p>
    <div class="fri schedule header">
        <!-- Row 1 - Headings -->
        {% comment %} <p class="room no-border">Rooms/ Time</p>
        <p class="room auditorium">Auditorium</p>
        <p class="room ausia-1">Ausiàs March 1</p>
        <p class="room ausia-2">Ausiàs March 2</p>
        <p class="room ausia-3">Ausiàs March 3</p>
        <p class="room navarro">Navarro Reverter</p>
        <p class="room cupula no-border">Cúpula</p> {% endcomment %}
    </div>
    <div class="fri schedule first">
        <!-- Times -->
        <p class="time">9:00 - 9:45 AM (Keynote)</p>
        <p class="time">9:45 - 10:05 AM</p>
        <!-- Friday -->
        <div class="slot fri auditorium keynote-1">
            {% comment %} {% include 2019/pages/schedule-session.md  session="sal-freudenberg" %} {% endcomment %}
        </div>
        <div class="slot fri cupula coffee-brake-1">Coffee Break</div>
    </div>
    <div class="fri schedule workshops">
        <p class="time workshops">10:05 - 11:35 AM (Workshops)</p>
        <div class="slot fri auditorium workshop-5">
            {% comment %} {% include 2019/pages/schedule-session.md  session="lisa-crispin" %} {% endcomment %}
        </div>
        <div class="slot fri ausia-1 workshop-1">
            {% comment %} {% include 2019/pages/schedule-session.md  session="anne-marie-charrett" %} {% endcomment %}
        </div>
        <div class="slot fri ausia-2 workshop-2">
            {% comment %} {% include 2019/pages/schedule-session.md  session="eric-eggert" %} {% endcomment %}
        </div>
        <div class="slot fri ausia-3 workshop-3">
            {% comment %} {% include 2019/pages/schedule-session.md  session="martin-hynie" %} {% endcomment %}
        </div>
        <div class="slot fri navarro workshop-4">
            {% comment %} {% include 2019/pages/schedule-session.md  session="mark-winteringham" %} {% endcomment %}
        </div>
    </div>
    <div class="fri schedule second">
        <p class="time">11:35 AM - 12:35 PM</p>
        <div class="slot fri cupula lunch">
            <p>Lunch</p>
        </div>
    </div>
    <div class="fri schedule talks-1">
        <p class="time talks">12:35 - 13:05 PM (Talks)</p>
        <div class="slot fri ausia-1 talk-1">
            {% comment %} {% include 2019/pages/schedule-session.md  session="francisco-gortazar" %} {% endcomment %}
        </div>
        <div class="slot fri ausia-2 talk-2">
            {% comment %} {% include 2019/pages/schedule-session.md  session="clare-sudbery" %} {% endcomment %}
        </div>
        <div class="slot fri ausia-3 talk-3">
            {% comment %} {% include 2019/pages/schedule-session.md  session="jess-ingrassellino" %} {% endcomment %}
        </div>
    </div>
    <div class="fri schedule third">
        <p class="time">13:05 - 13:15 PM</p>
        <div class="slot fri cupula brake-1">Break</div>
    </div>
    <div class="fri schedule talks-2">
        <p class="time talks">13:15 - 13:45 PM (Talks)</p>
        <div class="slot fri ausia-1 talk-4">
            {% comment %} {% include 2019/pages/schedule-session.md  session="nadya-denisenko" %}  {% endcomment %}
        </div>
        <div class="slot fri ausia-2 talk-5">
            {% comment %} {% include 2019/pages/schedule-session.md  session="moritz-heiber" %}         {% endcomment %}
        </div>
        <div class="slot fri ausia-3 talk-6">
            {% comment %} {% include 2019/pages/schedule-session.md  session="alexandra-schladebeck" %}         {% endcomment %}
        </div>
    </div>
    <div class="fri schedule fourth">
        <p class="time">13:45 - 14:05 PM</p>
        <p class="time">14:05 - 16:05 PM (Activities)</p>
        <p class="time">16:05 - 16:20 PM</p>
        <p class="time">16:20 - 17:05 PM (Keynote)</p>
        <p class="time">17:05 - 17:20 PM</p>
        <div class="slot fri cupula coffee-brake-2">
            <p>Coffee Break</p>
        </div>
        <div class="slot fri ausia-1 open-space">
        </div>
        <div class="slot fri ausia-2 open-space">
        </div>
        <div class="slot fri ausia-3 open-space">
            {% include 2020/pages/schedule-session.md  session="open-space" %}
        </div>
        <div class="slot fri navarro open-space">
        </div>
        <div class="slot fri auditorium open-space">
        </div>
        <div class="slot fri cupula brake-2">
            <p>Break</p>
        </div>
        <div class="slot fri auditorium keynote-2">
            {% comment %} {% include 2019/pages/schedule-session.md  session="ash-coleman" %} {% endcomment %}
        </div>
        <div class="slot fri auditorium retro">
            <p>Conference Retro</p>
        </div>
    </div>
  </article>
</div>