---
---
<div class="bg-schedule">
  <article class="b-day">
    <p><span class="b-day__name">Friday</span>
      <span class="b-day__date"> Feb 7<sup>th</sup></span>
    </p>
    <div class="fri schedule header">
        <!-- Row 1 - Headings -->
        <p class="room no-border">Rooms/ Time</p>
        <p class="room auditorium">Wenen '95</p>
        <p class="room london">Londen '71</p>
        <p class="room belgrado">Belgrado '69</p>
        <p class="room madrid">Madrid '69</p>
        <p class="room straatsburg">Straatsburg '88</p>
        <p class="room lobby no-border">Lobby</p>
    </div>
    <div class="fri schedule first">
        <!-- Times -->
        <p class="time">9:00 - 9:45 AM (Keynote)</p>
        <p class="time">9:45 - 10:05 AM</p>
        <!-- Friday -->
        <div class="slot fri auditorium keynote-1">
            {% include 2020/pages/schedule-session.md  session="patricia-aas" %}
        </div>
        <div class="slot fri lobby coffee-brake-1">Coffee Break</div>
    </div>
    <div class="fri schedule workshops">
        <p class="time workshops">10:05 - 11:35 AM (Workshops)</p>
        <div class="slot fri auditorium workshop-1">
            {% include 2020/pages/schedule-session.md  session="janet-gregory" %}
        </div>
        <div class="slot fri london workshop-2">
            {% include 2020/pages/schedule-session.md  session="gaspar-nagy" %}
        </div>
        <div class="slot fri belgrado workshop-3">
            {% include 2020/pages/schedule-session.md  session="bernardo-guerreiro" %}
        </div>
        <div class="slot fri madrid workshop-4">
            {% include 2020/pages/schedule-session.md  session="rob-meaney" %}
        </div>
        <div class="slot fri straatsburg workshop-5">
            {% include 2020/pages/schedule-session.md  session="fiona-charles" %}
        </div>
    </div>
    <div class="fri schedule second">
        <p class="time">11:35 AM - 12:35 PM</p>
        <div class="slot fri lobby lunch">
            <p>Lunch</p>
        </div>
    </div>
    <div class="fri schedule talks-1">
        <p class="time talks">12:35 - 13:05 PM (Talks)</p>
        <div class="slot fri london talk-1">
            {% include 2020/pages/schedule-session.md  session="joao-proenca" %}
        </div>
        <div class="slot fri belgrado talk-2">
            {% include 2020/pages/schedule-session.md  session="gem-hill" %}
        </div>
        <div class="slot fri auditorium talk-3">
            {% include 2020/pages/schedule-session.md  session="melissa-benua" %}
        </div>
    </div>
    <div class="fri schedule third">
        <p class="time">13:05 - 13:15 PM</p>
        <div class="slot fri lobby brake-1">Break</div>
    </div>
    <div class="fri schedule talks-2">
        <p class="time talks">13:15 - 13:45 PM (Talks)</p>
        <div class="slot fri london talk-4">
            {% include 2020/pages/schedule-session.md  session="crystal-onyeari-mbanefo" %}
        </div>
        <div class="slot fri belgrado talk-5">
            {% include 2020/pages/schedule-session.md  session="daniel-irvine" %}
        </div>
        <div class="slot fri auditorium talk-6">
            {% include 2020/pages/schedule-session.md  session="corina-pip" %}
        </div>
    </div>
    <div class="fri schedule fourth">
        <p class="time">13:45 - 14:05 PM</p>
        <p class="time">14:05 - 16:05 PM (Activities)</p>
        <p class="time">16:05 - 16:20 PM</p>
        <p class="time">16:20 - 17:05 PM (Keynote)</p>
        <p class="time">17:05 - 17:20 PM</p>
        <div class="slot fri lobby coffee-brake-2">
            <p>Coffee Break</p>
        </div>
        <div class="slot fri london open-space">
        </div>
        <div class="slot fri belgrado open-space">
        </div>
        <div class="slot fri madrid open-space">
            {% include 2020/pages/schedule-session.md  session="open-space" %}
        </div>
        <div class="slot fri straatsburg open-space">
        </div>
        <div class="slot fri auditorium open-space">
        </div>
        <div class="slot fri lobby brake-2">
            <p>Break</p>
        </div>
        <div class="slot fri auditorium keynote-2">
            {% include 2020/pages/schedule-session.md  session="ulrika-malmgren" %}
        </div>
        <div class="slot fri auditorium retro">
            <p>Conference Retro</p>
        </div>
    </div>
  </article>
</div>