#blog-container {

	footer{
		padding: 0; 
		margin: 0;
		background: none;
		border: none;
		float: right;
		
		.published-on {
			float: right;
		}
	}
	
	.published-on {
		display: block;
	}
	
	#blog-rest{
		
			
		li{
			padding: 10px;
			display: block;
		}
	}
}