/* =============================================================================
   /participants -page related styles
   ========================================================================== */
$selected-person: $marsala;

.speakers{
	
	.image {
		
		.image-holder {
			width: 200px;
			height: 200px;
			border-radius: 30px;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
		}
	
		img {
			max-width: 200px;
			height: auto;
			border-radius: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	.twitter {
		float: right;
		
		img {
			height: 25px;

		}
	}
	
}

.participants-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li
    {
        display: block;
        float: left;
        text-align: center;
        margin: 0 15px 15px 0;
        
        img
        {
            max-width: 200px;
            // TODO AkS: This does not really work - it makes it ugly
            height: 200px;
            border-radius: 30px;
            display: block;
        }
        
        .name
        {
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin: 5px 0 0 0;
        }
        
        a
        {
            color: #195fc7;
        }
    }
	
	
}

.participant
{
    img
    {
        max-width: 200px;
        border-radius: 30px;
        display: block;
    }
	
	.info {
		padding: 20px;
		max-width: 680px;
	}
}

