.b-header{
  padding: 10px;
  display: flex;

  &__logo{
    flex: 0;
  }

  &__nav{
    flex: 1;
    align-self: flex-end;
    margin: 0 20px;
  }
}

.b-logo{
  width: 20em;

  &__img{
    width: 20em;
  }
}

@media screen and (max-width: 840px ){
  .b-logo{
    width: 15em;

    &__img{
      width: 15em;
    }
  }

}


header .bcg
{
  height: 50%;
  background-image: url('https://dl.kuvat.fi/?token=dl598a0d27630637.80753496');
}

@media all and (-webkit-min-device-pixel-ratio : 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
  header .bcg
  {
    background-image: url('https://dl.kuvat.fi/?token=dl598a0d27630637.80753496');
  }
}