

$navi_screen: 735px;
$navi_mobile: $navi_screen - 1;

@media screen and (min-width: $navi_screen){
  .b-nav_mobile{
    display: none;
  }
}

@media screen and (max-width: $navi_mobile){
  .b-nav_screen{
    display: none;
  }
}

.b-nav{

  &__list {
    list-style: none;
    display: flex;
    border-bottom: solid 4px $emerald;
    margin: 0;
  }

  &__list-item {
    display: inline-block;
    flex: 0;
    white-space: nowrap;
    padding: 20px 20px 10px 20px;
    position: relative;

    &:hover .b-nav__on_active{
      display: inline;
    }

  }

  &__link{
    color: inherit;
    text-decoration: none;

    &:visited{
      color: inherit;
    }
  }

  &__on_active{
    padding: 0 10px;
    display: none;
  }

  &_active{
    position: relative;
    color: white;

    .b-nav__on_active{
      display: inline;
    }

    display: inline;

    &::after{
      background: $emerald;
      //

      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 6em;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      content: "";
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      /* transition: all .2s ease; */
      -webkit-transform: perspective(5px) rotateX(2deg);
      -webkit-transform-origin: bottom;
      -moz-transform: perspective(5px) rotateX(2deg);
      -moz-transform-origin: bottom;
      transform: perspective(5px) rotateX(2deg);
      transform-origin: bottom;
    }
  }

}



.skrollr-desktop .navbar:hover{

  .flex-container-navi{

    .flex-item{
      opacity: 0.4;

      &:hover{
        opacity: 1;
        img {
        }
      }
    }
  }
}



$navi_visible: $navi_screen;
$navi_mobile: $navi_screen - 1;



.navbar{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  display: flex;
  background: $footer-overlay;
  flex-direction: column;
  &.is-hidden {
    opacity: 0;
    transform: translate(0,-60px);
    transition: opacity .2s,background .3s,color .3s, transform .5s;
  }

  &.is-visible {
    opacity: 1;
    transform: translate(0,0);
    transition: transform .2s,background .3s,color .3s;
  }

  label,input  {
    flex: 1;
  }

  .flex-container-navi{
    flex: 1;
    display: flex;

    background: none;
    align-items: baseline;

    .flex-item {
      background: #2A2C39;
      flex: 3;
    }
    .lang-selection {
      background: none;
      flex: 1;
    }
  }

  .bullet-img{
    text-align: center;

    img{
      display: none;
    }

    &:hover{
      img{
        display: block;
      }
    }
  }



  @media screen and (max-width: $navi_visible){
    .flex-container-navi{
      flex-direction: column;
      justify-items: center;

      align-items: stretch;
      padding: 0px 10px;
      text-align: center;
      margin: 0;
    }
    .flex-container-navi li {
      min-width: 50%;
    }

    label[for="nav-trigger"]{
      display: flex;
      margin: auto;
      text-align: center;
      padding: 0 20px;
      align-items: baseline;

      i {
        padding: 20px;
      }
    }
    .nav-trigger:not(checked) + ul {
      display: none;
    }

    .nav-trigger {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
    label[for="nav-trigger"] {
      cursor: pointer;
    }

    .nav-trigger:checked + label {
      left: 215px;
    }

    .nav-trigger:checked + ul {
      display: flex;
    }

  }}
