

<nav id="primary-nav" class="b-nav b-header__nav">
    <ul class="b-nav__list" >
        {% for node in site.navigation %}
        {% endfor %}
        {% capture current_page %}{{page.url | remove_first: 'index.html'}}{% endcapture %}

        <li class="b-nav__list-item {% if current_page == "/2018/" %}b-nav_active{% endif %}">
            <a href="/" class="b-nav__link b-nav-item">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-home"></i></span>
                <span class="b-nav__on_active b-nav-item__text"> Home</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2018/schedule/" %}b-nav_active {% endif %}">
            <a href="/2018/schedule" class="b-nav__link  b-nav-item ">
            <span class="b-nav-item__fa"><i class="fa fa-2x fa-map"></i></span>
            <span class="b-nav__on_active b-nav-item__text"> Schedule</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2018/topics/" %} b-nav_active {% endif %}">
            <a href="/2018/topics" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-lightbulb"></i></span>
                <span class="b-nav__on_active  b-nav-item__text">Topics</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2018/speakers/" %} b-nav_active {% endif %}">
            <a href="/2018/speakers" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-users"></i></span>
                <span class="b-nav__on_active b-nav-item__text ">Speakers</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2018/code-of-conduct" %} b-nav_active {% endif %}">
            <a href="/2018/code-of-conduct" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-heart"></i></span>
                <span class="b-nav__on_active  b-nav-item__text">CoC</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2018/buy-ticket" %} b-nav_active {% endif %}">
            <a href="https://holvi.com/shop/EuroTestingConf/" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-ticket"></i></span>
                <span class="b-nav__on_active b-nav-item__text ">Tickets</span>
            </a>
        </li>
    </ul>
</nav>
