{% include demo/header.html %}
<main class="site-main" role="main">
	{% include demo/navigation.html %}
	<div class="skrollr-body">
		{% include demo/site-header.html %}
		{{content}}
	</div>
	<!-- Hotjar Tracking Code for europeantestingconference.eu -->
	<script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:322653,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

</main>
{% include demo/footer.md %}
