<nav id="primary-nav" class="b-nav b-header__nav">
    <ul class="b-nav__list" >
        <li class="b-nav__list-item {% if current_page == "/2019/" %}b-nav_active{% endif %}">
            <a href="/" class="b-nav__link b-nav-item">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-home"></i></span>
                <span class="b-nav__on_active b-nav-item__text"> Home</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2019/schedule/" %}b-nav_active {% endif %}">
            <a href="/2019/schedule" class="b-nav__link  b-nav-item ">
            <span class="b-nav-item__fa"><i class="fa fa-2x fa-map"></i></span>
            <span class="b-nav__on_active b-nav-item__text"> Schedule</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2019/topics/" %} b-nav_active {% endif %}">
            <a href="/2019/topics" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-lightbulb"></i></span>
                <span class="b-nav__on_active  b-nav-item__text">Topics</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2019/speakers/" %} b-nav_active {% endif %}">
            <a href="/2019/speakers" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-users"></i></span>
                <span class="b-nav__on_active b-nav-item__text ">Speakers</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2019/code-of-conduct/" %} b-nav_active {% endif %}">
            <a href="/2019/code-of-conduct" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-heart"></i></span>
                <span class="b-nav__on_active  b-nav-item__text">CoC</span>
            </a>
        </li>
        <li class="b-nav__list-item {% if current_page == "/2019/location/" %} b-nav_active {% endif %}">
            <a href="/2019/location" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-plane"></i></span>
                <span class="b-nav__on_active  b-nav-item__text">Location</span>
            </a>
        </li>
        <!-- <li class="b-nav__list-item {% if current_page == "/2019/buy-ticket" %} b-nav_active {% endif %}">
            <a href="https://ti.to/ETC/ETC19" class="b-nav__link  b-nav-item ">
                <span class="b-nav-item__fa"><i class="fa fa-2x fa-ticket"></i></span>
                <span class="b-nav__on_active b-nav-item__text ">Tickets</span>
            </a>
        </li> -->
    </ul>
</nav>
