/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 16px; line-height: 1.5; }
body, button, input, select, textarea { font-family: 'Kreon', serif; color: #555; text-shadow: 0 0 1px rgba(0,0,0,0.01); opacity: 0.9999; -webkit-text-stroke: 1px rgba(0,0,0,0);}

::-moz-selection { background: #003141; color: #fff; text-shadow: none; }
::selection { background: #003141; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #003141; text-decoration: none; }
a:visited { color: #003141; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; color: #f9921c;}


/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }
sub, sup { font-size: 60%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

hgroup { margin: -0.5em 0 1em; }

h1,h2,h3,h4 { color: #003141; font-weight: normal; }

h1 { font-size: 3em; line-height: 1.15; }
h2 { font-size: 2.25em; font-weight: bold; line-height: 1.25; margin: 0.7em 0 0.3em; }
h3 { font-size: 1.5em; line-height: 1.25; margin: 0.7em 0 0.3em; }

p {  margin: 0.5em 0; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 30px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
 table.data td, table.data th { border: 1px solid #aaa; padding: 2px 6px; }
th { text-align: left; }

/* =============================================================================
   Primary styles
   ========================================================================== */
section { position: relative; clear: both; }
aside { font-size: 0.75em; }
   
#container {
  width: 100%; 
}

#branding {
  height: 130px;
  position: relative;
  z-index: 10;
  border-bottom: 6px solid #003141;
}
  .front #branding {
    border-bottom: 0;
  }
  #branding #logo {
    display: block;
    margin-top: 40px;
  }

#navigation {
  width: 100%;
  background: #fff;
  text-align: right;
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
  border: 0px solid #003141;
  -webkit-transition: all 0.1s ease-out;  
  -moz-transition: all 0.1s ease-out;  
  -ms-transition: all 0.1s ease-out;  
  -o-transition: all 0.1s ease-out;  
  transition: all 0.1s ease-out;
}
  #navigation.fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    border-width: 0 0 3px;
  }
  
  #navigation #logo-mini {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    z-index: 1;
  }
  #navigation ul {
    position: relative;
    z-index: 2;
    background: #fff;
    display: inline-block;
    width: 100%;
  }
    #navigation.fixed ul { background: transparent; width: auto;}
    #navigation li { display: inline-block; }
      
      #navigation li a {
        display: inline-block;
        color: #003141;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 25px;
        line-height: 3;
        font-size: 1.125em;
        background: #fff;
        
        -webkit-transition: padding 0.1s linear;  
        -moz-transition: padding 0.1s linear;  
        -ms-transition: padding 0.1s linear;  
        -o-transition: padding 0.1s linear;  
        transition: padding 0.1s linear;
      }
      #navigation.fixed li a { padding: 0 15px; }
      #navigation li:last-child a { padding-right: 0; }
      #navigation li a.active { color: #f9921c; }
      #navigation li a:hover { color: #5f5f5f; }

#cites {
  height: 233px;
  background: #011f29 url(../img/cite_bg.jpg) no-repeat top center;
  overflow: hidden;
}
  #cites ul {
    width: 960px;
    height: 233px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #fff;
    position: relative;
    overflow: hidden;
  }
    #cites li {
      height: 233px;
      width: 100%;
      position: absolute;
      display: block;
      left: 0;
      top: -500px;
    }
      #cites li.active { top: 0; }
      #cites li.next { top: 233px; }

      #cites blockquote {
        text-align: center;
        font-size: 2.25em;
        line-height: 1.25;
        text-shadow: 1px 2px 2px rgba(0,0,0,0.75);
        margin: 0;
      }
      #cites blockquote p {
        margin: 1em 0 0;
      }
      #cites .behind {
        text-align: right;
        font-size: 1.3125em;
        line-height: 1.143;
        text-shadow: 1px 2px 2px rgba(0,0,0,0.75);
        margin-right: 5em;
        position: relative;
        top: -250px;
      }
        #cites .active .behind {
          top: 0;
        }
        #cites .next .behind {
          top: 400px;
        }
      #cites .name {
        font-size: 1.333em;
      }

/* Transforms for cites*/ 
.csstransforms #cites li,
.csstransforms #cites li .behind {
  -webkit-transition: top 0.6s ease-in-out;  
  -moz-transition: top 0.6s ease-in-out;  
  -ms-transition: top 0.6s ease-in-out;  
  -o-transition: top 0.6s ease-in-out;  
  transition: top 0.6s ease-in-out;
}

.csstransforms #cites li.next,
.csstransforms #cites li.next .behind {
  -webkit-transition: none;  
  -moz-transition: none;  
  -ms-transition: none;  
  -o-transition: top 0s linear;  
  transition: none;
}

/**/
#main {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#punchline {
  font-size: 2.25em;
  text-align: center;
  margin: 1em 0;
  font-weight: normal;
}

#colophon {
  margin-top: 2em;
  padding: 3em 0 3em;
  overflow: hidden;
  
  border-top: 1px solid #c2c2c2;  
  background: #f5f5f5;

  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2) inset;
}
  #colophon .preheading { color: #555; }
  #colophon h2,
  #colophon a { color: #f9921c; }
  #colophon a:hover { color: #003141; }
  
  #colophon .student-organizations hgroup { margin-bottom: 0; }
  #colophon .student-organizations a { display: inline-block; }
  #colophon .student-organizations a.asteriski { position: relative; top: -5px; margin-left: 30px; }
  
  #colophon .site-sponsor { clear: both; padding-top: 2em; }
  #colophon .site-sponsor a.aucor { position: relative; top: 5px; }
  
/* Grid */
.inner {
  width: 960px;
  margin: 0 auto;
}

.column {
  float: left;
  border-right: 20px solid transparent;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}
.two-thirds {
  width: 67%;
}

.half + .half,
.third + .two-thirds,
.third + .third + .third {
  border-right: 0;
}

/* Classes */
.boxes { margin-bottom: 3em; }
.wrapper { overflow: hidden; }
.inner { width: 960px; margin: 0 auto; position: relative; }
/**/
hgroup h2 {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 0.7;
  margin-top: 0;
}
  hgroup h2 span {
    font-size: 0.666em;
    font-weight: normal;
  }
  hgroup h2 span.count {
    font-size: 2em;
    float: left;
    margin-right: 15px;
    line-height: 0.73;
    font-weight: bold;
  }

.preheading {
  margin: 0;
  font-size: 1.5em;
  color: #c2c2c2;
}

figure.speaker {
  float: left;
  position: relative;
  line-height: 0;
}
  figure.speaker a {
    text-decoration: none; color: #fff;
  }
  figure.speaker figcaption {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1;
    padding: 12px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    opacity: 0;
    
    background-image: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);   
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background-image: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background-image: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);   
    background-image: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background-image: radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
    
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    -o-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;
  }
  
  figure.speaker a:hover figcaption {
    opacity: 1; 
  }

#speakers {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #f5f5f5;
}

#speakers figure.first {
  margin-left: 42px;
}

.call-to-action { text-align: right; margin-bottom: 0; }
  .call-to-action a { font-size: 1.5em; }
  .call-to-action a:after { content: ' →'; }
  .news .call-to-action a { font-size: 1em; }
  #speakers .call-to-action { position: absolute; bottom: 2em; right: 0; }  

#news {
  padding-bottom: 1em;
  margin-bottom: 0;
  border-bottom: 1px solid #f5f5f5;
}
#news .half {
  border-right-width: 40px;
}

.news h3 {
  font-weight: bold;
  margin-bottom: 0;
}
.news .writer { margin-top: 0; color: #c2c2c2; }
.news-item article.two-thirds { border-right-width: 40px; }

#tweets ul {
  padding-left: 30px;
}
#tweets li {
  line-height: 1.4;
  margin-bottom: 0.4em;
}

#sponsors {
  overflow: hidden;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f5f5f5;
}

#sponsor-groups {
  padding: 0;
  list-style: none;
  height: 195px;
  overflow: hidden;
  position: relative;
}
  #sponsor-groups li {
    height: 195px;
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: -200px;
  }
    #sponsor-groups li.active { top: 0; }
    #sponsor-groups li.next { top: 195px; }
    
  #sponsor-groups h3 { margin-top: 0; }
  #sponsor-groups li .sponsor {
    display: block;
    position: relative;
    float: left;
    margin: 0 7px;
  }
  
  #sponsor-groups li .sponsor img {
    border: 8px solid #f5f5f5; 
  }  
  #sponsor-groups li.active .sponsor { top: 0 !important; }
  
  #sponsor-groups li .sponsor:nth-child(1) { top: -400px; }
  #sponsor-groups li .sponsor:nth-child(2) { top: -300px; }
  #sponsor-groups li .sponsor:nth-child(3) { top: -200px; }
  #sponsor-groups li .sponsor:nth-child(4) { top: -100px; }
  
  #sponsor-groups li.next .sponsor:nth-child(1) { top: 100px; }
  #sponsor-groups li.next .sponsor:nth-child(2) { top: 200px; }
  #sponsor-groups li.next .sponsor:nth-child(3) { top: 300px; }
  #sponsor-groups li.next .sponsor:nth-child(4) { top: 400px; }

  
/* Transforms for sponsors*/ 
.csstransforms #sponsor-groups li,
.csstransforms #sponsor-groups li .sponsor {
  -webkit-transition: top 0.6s ease-in-out;  
  -moz-transition: top 0.6s ease-in-out;  
  -ms-transition: top 0.6s ease-in-out;  
  -o-transition: top 0.6s ease-in-out;  
  transition: top 0.6s ease-in-out;
}

.csstransforms #sponsor-groups li.next,
.csstransforms #sponsor-groups li.next .sponsor {
  -webkit-transition: none;  
  -moz-transition: none;  
  -ms-transition: none;  
  -o-transition: top 0s linear;  
  transition: none;
}

/* Schedule */
.schedule {
  font-size: 1.125em;
  width: 100%;
  margin-bottom: 3em;
}
.schedule h3 { font-size: 1em; font-weight: bold; margin: 0 0 0.5em; }
.schedule p { margin: 0; line-height: 1.25; }

.schedule td { 
  padding: 0.5em 0.8em 0.5em 0.2em; 
  border-bottom: 1px solid #c2c2c2; 
  vertical-align: top; }

.schedule td.meta,
.schedule td.dual { text-align: center; line-height: 1.4; }
  .schedule td.dual h3 { margin: 0; }
.schedule td.keynote { text-align: center; font-size: 1.125em; padding-top: 0.8em; }
.schedule .time { width: 8%; text-align: right; border-top: 0; border-bottom: 0; }

.schedule .start td { border-top: 1px solid #003141; }
.schedule .last td { border-bottom: 1px solid #003141; }
.schedule .ending td { vertical-align: bottom; color: #c2c2c2; }
  .schedule .start td.time,
  .schedule .last td.time,
  .schedule .social td.time { border: 0; }
  
.schedule .spacer td { border-bottom: 0; border-top: 0; height: 0.5em; }
.schedule .social td { border-top: 1px solid #f9921c; border-bottom: 1px solid #f9921c; color: #f9921c; }

/* Topics, Speakers & Sponsors */
.listing article {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}
.listing article h3 { 
  margin-top: 0.5em;
}

.topics .details,
.speakers .details {
  margin-top: 0.6em;
  background: #f5f5f5;
  border-right-color: #fff;
  padding: 0.5em 1.5em 1em;
}

.speakers .details img {
  float: right;
  position: relative;
  right: -1.5em;
  top: -0.5em;
  margin: 0 0 0.5em 0.1em;
}
.speakers .details ul {
  list-style: none;
  padding: 0;
}


.spo .details {
  text-align: center;
  margin-top: 0.6em;
}
.spo .details img {
  border: 8px solid #f5f5f5;
}

.about {
  background: #f5f5f5;
  margin: 1em 0;
  padding: 1em 2em;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
  /* mobile layout */
  .inner { width: 100%; }
  .column {
    float: none;
    width: 100% !important;
    border-right: 0 !important;
  }
  
  
  #branding {
    height: auto;
    text-align: center;
  }
  
  #branding #logo {
    margin: 30px 0 10px;
  }
  
  #navigation,
  #navigation.fixed {
    position: relative;
    border-width: 0;
  }
  
  #navigation #logo-mini {
    display: none;
  }
  
  #navigation.fixed ul {
    width: 100%;
  }
  
  #navigation li, #navigation.fixed li,
  #navigation li a, #navigation.fixed li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  
  #navigation a {
    border-bottom: 1px solid #003141;
  }
  
  #cites {
    display: none;
  }
  
  #main {
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
  	box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
  }
  
  figure.speaker {
    width: 16.6%;
  }
  
  figure.speaker img {
    width: 100%;
  }
  #speakers figure.first {
    margin-left: 0;
  }
  
  #speakers .call-to-action {
    position: relative;
    bottom: 0;
    clear: both;
  }
  
  #coffee img {
    width: 100%;
  }
  
  #colophon {
    padding: 2em 15px;
    text-align: center;
  }
  
  #sponsor-groups,
  #sponsor-groups li {
    height: 330px;
  }
  
  #sponsor-groups li {
    top: -330px;
  }
    #sponsor-groups li.active { top: 0; }
    #sponsor-groups li.next { top: 330px; }
  
  #sponsor-groups li .sponsor {
    width: 42%;
    margin: 0 3%;
  }
  
  #sponsors .sponsor img {
    width: 100%;
  }
  
  .schedule .topic {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; -webkit-text-stroke: 0 !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  body { opacity: 1 !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  #colophon, #navigation, #cites { display: none; }
}
