---
---
<article class="b-day">
  <p><span class="b-day__name">Thursday</span>
    <span class="b-day__date"> Feb 14<sup>th</sup></span>
  </p>
  <section class="b-day__schedule">
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">8:30-9:00</time>
      <div class="b-time-slot__title">Morning coffee &amp; Registration</div>
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">9:00-9:15</time>
      <div class="b-time-slot__title">Welcome &amp; opening words</div>
    </div>
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">9:15-10:00</time>
      <div class="b-time-slot__type">Keynote</div>
      {% include 2019/pages/schedule-session.md  session="angie-jones" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">10:00-10:20</time>
      <div class="b-time-slot__title">Coffee Break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">10:20-10:50</time>
      <div class="b-time-slot__type">Talks</div>
      {% include 2019/pages/schedule-session.md  session="maarten-groeneweg" %}
      {% include 2019/pages/schedule-session.md  session="romeu-moura" %}
      {% include 2019/pages/schedule-session.md  session="lucian-adrian" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">10:50-11:00</time>
      <div class="b-time-slot__title">Break</div>
    </div>
    <div class="b-time-slot">
      <time class="b-time-slot__time">11:00-11:45</time>
      <div class="b-time-slot__type">Activities</div>
      {% include 2019/pages/schedule-session.md  session="speed-meet" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">11:45-12:45</time>
      <div class="b-time-slot__title">Lunch</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">12:45-14:15</time>
      <div class="b-time-slot__type">Workshops</div>
      {% include 2019/pages/schedule-session.md  session="anne-marie-charrett" %}
      {% include 2019/pages/schedule-session.md  session="lisa-crispin" %}
      {% include 2019/pages/schedule-session.md  session="mark-winteringham" %}
      {% include 2019/pages/schedule-session.md  session="martin-hynie" %}
      {% include 2019/pages/schedule-session.md  session="nicolas-steenhout" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">14:15-14:45</time>
      <div class="b-time-slot__title">Coffee Break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">14:45-15:15</time>
      <div class="b-time-slot__type">Talks</div>
      {% include 2019/pages/schedule-session.md  session="jit-gosai" %}
      {% include 2019/pages/schedule-session.md  session="markus-tacker" %}
      {% include 2019/pages/schedule-session.md  session="alexandra-schladebeck" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">15:15-15:30</time>
      <div class="b-time-slot__title">Break</div>
    </div>
    <div class="b-time-slot">
      <time class="b-time-slot__time">15:30-16:15</time>
      <div class="b-time-slot__type">Activities</div>
      {% include 2019/pages/schedule-session.md  session="lean-coffee" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">16:15-16:30</time>
      <div class="b-time-slot__title">Break</div>
    </div>

    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">16:30-17:15</time>
      <div class="b-time-slot__type">Keynote</div>
      {% include 2019/pages/schedule-session.md  session="sarah-wells" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">17:15-17:30</time>
      <div class="b-time-slot__title">1st Day Retrospective</div>
    </div>
  </section>
</article>
