---
---
<article class="b-day">
  <p><span class="b-day__name">Friday</span>
    <span class="b-day__date">Feb 15<sup>th</sup></span>
  </p>
  <section class="b-day__schedule">
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">9:00-9:45</time>
      <div class="b-time-slot__type">Keynote</div>
      {% include 2019/pages/schedule-session.md  session="sal-freudenberg" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">9:45-10:05</time>
      <div class="b-time-slot__title">Coffee Break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">10:05-11:35</time>
      <div class="b-time-slot__type">Workshops</div>
      {% include 2019/pages/schedule-session.md  session="anne-marie-charrett" %}
      {% include 2019/pages/schedule-session.md  session="lisa-crispin" %}
      {% include 2019/pages/schedule-session.md  session="mark-winteringham" %}
      {% include 2019/pages/schedule-session.md  session="martin-hynie" %}
      {% include 2019/pages/schedule-session.md  session="nicolas-steenhout" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">11:35-12:35</time>
      <div class="b-time-slot__title">Lunch</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">12:35-13:05</time>
      <div class="b-time-slot__type">Demo Talks</div>
      {% include 2019/pages/schedule-session.md  session="francisco-gortazar" %}
      {% include 2019/pages/schedule-session.md  session="clare-sudbery" %}
      {% include 2019/pages/schedule-session.md  session="jess-ingrassellino" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">13:05-13:15</time>
      <div class="b-time-slot__title">Break</div>
    </div>
    <div class="b-time-slot b-time-slot_multiple">
      <time class="b-time-slot__time">13:15-13:45</time>
      <div class="b-time-slot__type">Talks</div>
      {% include 2019/pages/schedule-session.md  session="nadya-denisenko" %}
      {% include 2019/pages/schedule-session.md  session="moritz-heiber" %}
      {% include 2019/pages/schedule-session.md  session="uladzislau-ramanenka" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">13:45-14:05</time>
      <div class="b-time-slot__title">Coffee Break</div>
    </div>
    <div class="b-time-slot">
      <time class="b-time-slot__time">14:05-16:05</time>
      <div class="b-time-slot__type">Open Space</div>
      {% include 2019/pages/schedule-session.md  session="open-space" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">16:05-16:20</time>
      <div class="b-time-slot__title">Break</div>
    </div>
    <div class="b-time-slot b-time-slot_keynote">
      <time class="b-time-slot__time">16:20-17:05</time>
      <div class="b-time-slot__type">Keynote</div>
      {% include 2019/pages/schedule-session.md  session="ash-coleman" %}
    </div>
    <div class="b-time-slot b-time-slot_background">
      <time class="b-time-slot__time">17:05-17:20</time>
      <div class="b-time-slot__title">Conference Retrospective</div>
    </div>
  </section>
</article>
