---
---
<div class="bg-schedule">
  <article class="b-day">
    <p><span class="b-day__name">Thursday</span>
      <span class="b-day__date"> Feb 14<sup>th</sup></span>
    </p>
    <div class="thurs schedule header">
        <!-- Row 1 - Headings -->
        <p class="room no-border">Rooms/ Time</p>
        <p class="room auditorium">Auditorium</p>
        <p class="room ausia-1">Ausiàs March 1</p>
        <p class="room ausia-2">Ausiàs March 2</p>
        <p class="room ausia-3">Ausiàs March 3</p>
        <p class="room navarro">Navarro Reverter</p>
        <p class="room cupula no-border">Cúpula</p>
    </div>
    <div class="thurs schedule first">
        <!-- Times -->
        <p class="time">8:30 - 9:00 AM</p>
        <p class="time">9:00 - 9:15 AM</p>
        <p class="time">9:15 - 10:00 AM (Keynote)</p>
        <p class="time">10:00 - 10:20 AM</p>
        <!-- Thursday -->
        <div class="slot thurs no-room registration">
            <p>Conference Registration</p>
        </div>
        <div class="slot thurs auditorium opening">
            <p>Welcome & opening words</p>
        </div>
        <div class="slot thurs auditorium keynote-1">
            {% include 2019/pages/schedule-session.md  session="angie-jones" %}
        </div>
        <div class="slot thurs no-room coffee-brake-1">Coffee Break</div>
    </div>
    <div class="thurs schedule talks-1">
        <p class="time talks">10:20 - 10:50 AM (Talks)</p>
        <div class="slot thurs ausia-1 talk-1">
            {% include 2019/pages/schedule-session.md  session="maarten-groeneweg" %}
        </div>
        <div class="slot thurs ausia-2 talk-2">
            {% include 2019/pages/schedule-session.md  session="romeu-moura" %}
        </div>
        <div class="slot thurs ausia-3 talk-3">
            {% include 2019/pages/schedule-session.md  session="lucian-adrian" %}
        </div>
    </div>
    <div class="thurs schedule second">
        <p class="time">10:50 - 11:00 AM</p>
        <p class="time">11:00 - 11:45 AM (Activities)</p>
        <p class="time">11:45 AM - 12:45 PM</p>
        <div class="slot thurs no-room brake">
            <p>Break</p>
        </div>
        <div class="slot thurs cupula speed-meet">
            {% include 2019/pages/schedule-session.md  session="speed-meet" %}
        </div>
        <div class="slot thurs cupula lunch">
            <p>Lunch</p>
        </div>
    </div>
    <div class="thurs schedule workshops">
        <p class="time workshops">12:45 - 14:15 PM (Workshops)</p>
        <div class="slot thurs auditorium workshop-5">
            {% include 2019/pages/schedule-session.md  session="lisa-crispin" %}
        </div>
        <div class="slot thurs ausia-1 workshop-1">
            {% include 2019/pages/schedule-session.md  session="anne-marie-charrett" %}
        </div>
        <div class="slot thurs ausia-2 workshop-2">
            {% include 2019/pages/schedule-session.md  session="nicolas-steenhout" %}
        </div>
        <div class="slot thurs ausia-3 workshop-3">
            {% include 2019/pages/schedule-session.md  session="martin-hynie" %}
        </div>
        <div class="slot thurs navarro workshop-4">
            {% include 2019/pages/schedule-session.md  session="mark-winteringham" %}
        </div>
    </div>
    <div class="thurs schedule third">
        <p class="time">12:15 - 14:45 PM</p>
        <div class="slot thurs no-room coffee-brake-2">Coffee Break</div>
    </div>
    <div class="thurs schedule talks-2">
        <p class="time talks">14:45 - 15:15 PM (Talks)</p>
        <div class="slot thurs ausia-1 talk-4">
            {% include 2019/pages/schedule-session.md  session="jit-gosai" %}
        </div>
        <div class="slot thurs ausia-2 talk-5">
            {% include 2019/pages/schedule-session.md  session="markus-tacker" %}            
        </div>
        <div class="slot thurs ausia-3 talk-6">
            {% include 2019/pages/schedule-session.md  session="uladzislau-ramanenka" %}         
        </div>
    </div>
    <div class="thurs schedule fourth">
        <p class="time">15:15 - 15:30 PM</p>
        <p class="time">15:30 - 16:15 PM (Activities)</p>
        <p class="time">16:15 - 16:30 PM</p>
        <p class="time">16:30 - 17:15 PM (Keynote)</p>
        <p class="time">17:15 - 17:30 PM</p>
        <p class="time">17:30 - 21:00 PM (Ausias salon)</p>
        <div class="slot thurs no-room brake-2">
            <p>Break</p>
        </div>
        <div class="slot thurs ausia-2 lean">
            {% include 2019/pages/schedule-session.md  session="lean-coffee" %}
        </div>
        <div class="slot thurs no-room brake-3">
            <p>Break</p>
        </div>
        <div class="slot thurs auditorium keynote-2">
            {% include 2019/pages/schedule-session.md  session="sarah-wells" %}
        </div>
        <div class="slot thurs auditorium retro-1">
            <p>1st Day Retro</p>
        </div>
        <div class="slot thurs no-room get-together">
            <p>Conference Get Together Food/Drinks</p>
        </div>
    </div>
  </article>
</div>
